<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400832600961-uv0ibogc1m3tad096s5fd57b50o184v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400832600961-uv0ibogc1m3tad096s5fd57b50o184v2</string>
	<key>API_KEY</key>
	<string>AIzaSyBCSg7hN9uPbVjFoGHD9ch0e4cM2Tj2zes</string>
	<key>GCM_SENDER_ID</key>
	<string>400832600961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxwellyoung.postlecture</string>
	<key>PROJECT_ID</key>
	<string>postlecture-a1e1f</string>
	<key>STORAGE_BUCKET</key>
	<string>postlecture-a1e1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400832600961:ios:c902894e8139649f076680</string>
</dict>
</plist>